#case-cards > div {
    padding-left: 0;
    padding-right: 0;
}

#case-cards:after {
    content: '';
    clear: both;
    display: table;
}

.card-case {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    background-color: #00BBD3;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#case-cards .card-content {
    position: absolute;
    padding-left: 9%;
    margin-top: 33%;
    text-align: left;
}

#case-cards .card-title {
    color: #ffffff;
    font-family: Poppins;
    font-size: 85px;
    font-weight: 700;
}

#case-cards .card-description {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.c1 {
    background-image: -webkit-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c1.png");
    background-image: -moz-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c1.png");
    background-image: -o-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c1.png");
    background-image: linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c1.png");
}

.c2 {
    background-image: -webkit-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c2.png");
    background-image: -moz-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c2.png");
    background-image: -o-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c2.png");
    background-image: linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c2.png");
}

.c3 {
    background-image: -webkit-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c3.png");
    background-image: -moz-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c3.png");
    background-image: -o-linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c3.png");
    background-image: linear-gradient(top, rgba(13, 13, 13, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../img/c3.png");
}