/*----------------------------------------------*/
/*--------------------FOOTER--------------------*/
#section-footer {
    background-color: #3c3a5f;
    content: "";
    clear: both;
    display: table;
    width: 100%;
    color: rgb(255,255,255);
}

    #section-footer .topo {
        display: block;
        height: 150px;
        padding-top: 10%;
        padding-left: 5%;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 24px;
            font-family: Poppins;
            font-weight: 700;
        }

    #section-footer .meio {
        display: block;
        height: 150px;
    }

    #section-footer .contato {
        display: flex;
        flex-direction: column;
        height: 250px;
        text-align: center;
        line-height: 30px;
        font-family: Open Sans;
        font-size: 16px;
    }

        #section-footer .contato .city-description {
            font-weight: 700;
        }

        #section-footer .contato .address-description {
            font-size: 12px;
            font-weight: 400;
        }

        #section-footer .contato .phone-description {
            font-weight: 400;
        }

        #section-footer .contato .email-description {
            font-weight: 700;
        }

    #section-footer .container-social {
        text-align: center;
        padding-bottom: 15px;
    }

        #section-footer .container-social:after {
            content: "";
            clear: both;
            display: table;
        }

        #section-footer .container-social .social {
            width: 24%;
            float: left;
        }

            #section-footer .container-social .social a {
                color: rgb(255,255,255);
            }

.dtifacts {
    background-color: #fafafa;;
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

    .dtifacts .topo {
        display: block;
        height: 100px;
        padding-top: 10%;
        padding-left: 5%;
        text-align: start;
    }

        .dtifacts .topo .dtifacts-title {
            color: #524da0;
            font-size: 24px;
            font-family: Poppins;
            font-weight: 700;
            height: 40px;
        }

    .dtifacts .second-title {
        display: block;
        height: 100px;
        padding-top: 10%;
        padding-left: 5%;
        text-align: start;
    }
        .dtifacts .-second-title .dtifacts-title-second-title {
            color: #4a4a4a;
            height: 53px;
            font-size: 32px;
            font-family: Poppins;
            font-weight: 700;
        }

    .dtifacts .meio {
        display: block;
        height: 300px;
        padding-top: 10%;
        padding-left: 5%;
        text-align: start;
    }
        .dtifacts .-meio .dtifacts-title-meio {
            color: #4a4a4a;
            height: 192px;
            font-size: 56px;
            font-family: Poppins;
            font-weight: 700;
            line-height: 64px;
        }

/*--------------------FOOTER--------------------*/
/*----------------------------------------------*/