/*----------------------------------------------*/
/*--------------------FOOTER--------------------*/
#section-footer {
    background-color: #3c3a5f;
    width: 100%;
    color: rgb(255,255,255);
}

    #section-footer:after {
        content: "";
        clear: both;
        display: table;
    }

    #section-footer .topo {
        display: block;
        padding-top: 40px;
        padding-left: 5%;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 24px;
            font-family: Poppins;
            font-weight: 700;
        }

    #section-footer .contato {
        display: flex;
        flex-direction: column;
        text-align: start;
        line-height: 30px;
        font-family: Open Sans;
        font-size: 16px;
        margin-top: 30px;
        padding-left: 5%;
    }

        #section-footer .contato .city-description {
            font-weight: 700;
        }

        #section-footer .contato .address-description {
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
        }

        #section-footer .contato .phone-description {
            font-weight: 400;
            line-height: 15px;
        }

        #section-footer .contato .email-description {
            font-weight: 700;
        }

    #section-footer .more-info {
        display: block;
        text-align: start;
        line-height: 30px;
        font-family: Open Sans;
        font-size: 16px;
        margin-top: 50px;
        padding-left: 5%;
    }

        #section-footer .more-info .title {
            font-weight: 700;
        }

        #section-footer .more-info .cargo {
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
        }

    #section-footer .container-social {
        text-align: center;
        padding-bottom: 40px;
        margin-top: 90px;
    }

        #section-footer .container-social:after {
            content: "";
            clear: both;
            display: table;
        }

        #section-footer .container-social .social {
            width: 24%;
            float: left;
        }

            #section-footer .container-social .social a {
                color: rgb(255,255,255);
            }

.dtifacts {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}

    .dtifacts:after {
        content: "";
        clear: both;
        display: table;
    }

    .dtifacts .topo {
        padding-top: 25px;
        padding-left: 5%;
        text-align: start;
    }

        .dtifacts .topo .title {
            color: #524da0;
            font-size: 24px;
            font-family: Poppins;
            font-weight: 700;
            text-align: start;
        }

    .dtifacts .second-title {
        margin-top: 15px;
        padding-left: 5%;
    }

        .dtifacts .second-title .title {
            text-align: start;
            color: #4a4a4a;
            font-size: 32px;
            font-family: Poppins;
            font-weight: 700;
        }

    .dtifacts .meio {
        margin-top: 60px;
        padding-left: 5%;
    }

        .dtifacts .meio .title {
            text-align: start;
            color: #4a4a4a;
            font-family: Poppins;
            font-size: 56px;
            font-weight: 700;
            line-height: 64px;
        }

    .dtifacts .footer {
        display: table;
        height: 300px;
        padding-bottom: 10%;
        position: relative;
        width: 100%;
    }

        .dtifacts .footer .img {
            display: table-cell;
            align-items: center;
            text-align: center;
            vertical-align: bottom;
        }

            .dtifacts .footer .img .div-img {
                display: inline-table;
                height: 73px;
                width: 87px;
            }

/*--------------------FOOTER--------------------*/
/*----------------------------------------------*/
