.nav.navbar-nav.navbar-right {
    margin-top: 10px;
}

h1, h2, h3, h4 {
    font-family: 'latolight';
}

img {
    max-width: 100%;
}

#section-main {
    color: #FFFFFF;
    text-align: center;
    background: url(../img/waves.jpg)no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 100px;
}

    #section-main .subtitulo-principal {
        font-family: 'latolight';
        font-size: 26px;
        text-align: left;
        margin-top: 90px;
        margin-bottom: 60px;
        line-height: 1.4em;
    }

    #section-main .container {
        padding-top: 100px;
    }

    #section-main input,
    #section-footer input {
        border: none;
        border-radius: 0px;
        background-color: rgba(177, 177, 177, 0.5);
        box-shadow: 0 0 8px 0 rgba(177, 177, 177, 0.5);
        font-size: 16px;
        line-height: 1.25;
        text-align: left;
        color: rgba(255,255,255,1);
        font-family: 'latoregular';
        height: 45px;
    }

        #section-main input::-webkit-input-placeholder,
        #section-footer input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 15px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

        #section-main input::-moz-placeholder,
        #section-footer input::-moz-placeholder { /* Firefox 19+ */
            font-size: 16px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

        #section-main input:-ms-input-placeholder,
        #section-footer input:-ms-input-placeholder { /* IE 10+ */
            font-size: 16px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

        #section-main input:-moz-placeholder,
        #section-footer input:-moz-placeholder { /* Firefox 18- */
            font-size: 14px;
            line-height: 1.25;
            text-align: left;
            color: rgba(160,159,172,1);
        }

    #section-main button.btn-subscribe,
    #section-footer button.btn-subscribe {
        border-radius: 0px;
        background-image: linear-gradient(115deg, #ff6c72, #6737a0);
        background-repeat: no-repeat;
        border: none;
        box-shadow: 0 1px 6px 0 rgba(145, 106, 191, 0.5);
        line-height: 2.428571;
        font-family: 'latoregular';
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        color: #ffffff;
    }

    #section-main .main-title, .secondary-title {
        margin-top: 0px;
    }


#section-services {
    text-align: center;
    margin-bottom: 80px;
}

    #section-services .partners {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #section-services h4 {
        color: #777590;
    }

    #section-services h3 {
        margin-bottom: 20px;
    }

    #section-services h3, a {
        color: #512980;
    }

    #section-services a {
        text-decoration: underline;
    }

        #section-services a:hover {
            color: rgba(145,106,191,0.5);
            text-decoration: none;
        }

    #section-services .container-img {
        height: 102px; /* equals max image height */
        white-space: nowrap; /* this is required unless you put the helper span closely near the img */
        text-align: center;
        margin: 1em 0;
    }

        #section-services .container-img .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        #section-services .container-img img {
            vertical-align: middle;
            max-height: 102px;
        }

    #section-services p.service-name {
        color: #000000;
        font-size: 19px;
        letter-spacing: 0.1px;
        text-align: center;
        margin-top: 10px;
        font-family: 'latoregular';
    }

    #section-services p.service-description {
        color: #777590;
        font-size: 15px;
        letter-spacing: 0.1px;
        line-height: 1.75;
        text-align: center;
        font-family: 'latoregular';
        padding-left: 20px;
        padding-right: 20px;
    }

#section-team {
    text-align: center;
}

    #section-team .team-title {
        font-size: 28px;
    }

    #section-team h3 {
        color: #512980;
    }

    #section-team .subtitulo-team {
        color: #777590;
        font-family: 'latoregular';
        font-size: 15px;
        padding-left: 16%;
        padding-right: 16%;
        line-height: 1.8em;
    }

    #section-team .card p {
        font-family: 'latoregular';
    }

    #section-team p.team-name {
        color: #000000;
        font-size: 15px;
        margin-top: 10px;
    }

    #section-team p.team-description {
        color: #777590;
        font-size: 14px;
        line-height: 1.4em;
        height: 55px;
    }

        #section-team p.team-description a {
            word-break: break-all;
        }

    #section-team .team .image-cropper {
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
    }

        #section-team .team .image-cropper::after {
            content: url(../img/icone_linkedin.png);
            position: absolute;
            z-index: 100;
            right: 0px;
            top: 70px;
        }

    #section-team .team .row:last-child .card:nth-last-child(2) .image-cropper::after {
        content: none;
        position: absolute;
        z-index: 100;
        right: 0px;
        top: 70px;
    }

    #section-team .team img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
        border-radius: 50%;
    }

    #section-team .card {
        margin-bottom: 15px;
    }

        #section-team .card i.card-linkedin {
            font-size: 14px;
            vertical-align: super;
            color: #ea9312;
        }

    #section-team .join-us a {
        font-size: 12px;
        cursor: pointer;
    }

#section-footer {
    background: linear-gradient(to bottom, #2f295f, #151231);
    text-align: center;
    padding: 50px 0;
}

    #section-footer h3 {
        font-family: 'latolight';
        color: #a09fac;
    }

    #section-footer .footer-itens {
        text-align: left;
        font-family: 'latoregular';
        margin-bottom: 100px;
    }

        #section-footer .footer-itens p {
            margin-bottom: 0px;
        }

        #section-footer .footer-itens a {
            color: rgb(188,85,133);
            text-decoration: underline;
            font-family: 'latoregular';
        }

            #section-footer .footer-itens a:hover {
                color: rgba(188,85,133,0.5);
                text-decoration: none;
            }

    #section-footer .footer-item-title {
        font-family: 'latoregular';
        color: #ffffff;
    }

    #section-footer .footer-item-description {
        font-family: 'latoregular';
        color: #a09fac;
        line-height: 1.8em;
    }

    #section-footer .social-begin, .social-end {
        width: 8%;
    }

    #section-footer .social {
        width: 14%;
        float: left;
        text-align: center;
    }

        #section-footer .social a {
            color: #76729f;
        }

    #section-footer .subscribe-container {
        padding-left: 8%;
        padding-right: 8%;
        margin-bottom: 100px;
    }

#section-menu {
    background-color: #151231;
    border-color: #151231;
    font-family: 'latobold';
    font-size: 16px;
    color: #a09fac;
}

    #section-menu a {
        color: #a09fac;
    }

    #section-menu .nav li.active a,
    #section-menu .nav li:hover,
    #section-menu .nav li a:hover {
        background-color: #151231;
        color: #bc5585;
    }


#section-roadmap .road-map-background {
    width: 100%;
    height: 450px;
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    background: #f9f8fb;
}

    #section-roadmap .road-map-background p,
    #section-roadmap .road-map-background timeline {
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -o-transform: skewY(3deg);
    }

#section-roadmap .timeline {
    padding-top: 10px;
    text-align: center;
}
