/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    .main-page header {
        max-height: 660px;
    }

    .main-page #section-footer{
        height: 660px;
    }

    #section-cards .card-square {
        width: 33.3%;
        padding-bottom: 33.3%; /* = width for a 1:1 aspect ratio */
    }
    
    #case-cards .card-case .card-title {
        font-size: 48px; 
    }
    
    #case-cards .card-case .card-description {
        font-size: 24px; 
    }
    
    #typewriterContainer .typewriter-font a {
        font-size: 44px;
    }

    .social-media-home {
        display: initial;
    }

    .social-media-mobile{
        display: none;
    }

    #section-footer .topo {
        display: block;
        padding-top: 40px !important;
        padding-left: 5% !important;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 30px !important;
            font-family: OpenSans-Bold;
            font-weight: 700;
        }

    #section-footer .vemSerDti {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }

    #section-footer .contato {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    .main-page header {
        height: 600px;
    }

    .main-page #section-footer {
        height: 660px;
    }

    #section-cards .card-square {
        width: 33.3%;
        padding-bottom: 33.3%; /* = width for a 1:1 aspect ratio */
    }

    #section-cards .card-duplo-imagem.flexible-height {
        padding-bottom: 50%;
    }

    #section-cards .cases.flexible-height {
        padding-bottom: 100%;
    }

        #section-cards .cases.flexible-height .description {
            margin-top: 65%;
        }
        
    #case-cards .card-case .card-title {
        font-size: 38px; 
    }
    
    #case-cards .card-case .card-description {
        font-size: 19px; 
    }

    #typewriterContainer .typewriter-font a {
        font-size: 38px;
    }
    
    #section-cards .card-square > .card-content-overlay > .description[id = "vemSerDti"] {
        font-size: 42px;
    }

    .social-media-home {
        display: none;
    }

    .social-media-mobile{
        display: block !important;
    }

    #section-footer .topo {
        display: block;
        padding-top: 40px !important;
        padding-left: 5% !important;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 30px !important;
            font-family: OpenSans-Bold;
            font-weight: 700;
        }
    
    #section-footer .vemSerDti {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }

    #section-footer .contato {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }

    header .main-container {
       padding-bottom: 100% !important;
    }
    header .main-container .text-content {
        margin-top: 50% !important;
    }

    header .main-overlay p {
            font-size: 60px !important;
            line-height: 80px !important;
        }
}

/* Mobile Devices */
@media only screen and (max-width : 720px) {
    .main-page header {
        height: 590px;
    }

    .main-page #section-footer {
        height: 590px;
    }

    #section-cards .card-square {
        width: 50%;
        padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
    }

    #section-cards #yt-container-1.flexible-size {
        width: 480px;
        height: 270px;
        margin-left: -98.5px;
        margin-top: 0px;
    }
    
    #case-cards .card-case .card-title {
        font-size: 30px; 
    }
    
    #case-cards .card-case .card-description {
        font-size: 15px; 
    }
    
    #typewriterContainer .typewriter-font a {
        font-size: 32px;
    }

    .social-media-home {
        display: none;
    }

    .social-media-mobile{
        display: block !important;
    }

    #section-footer .topo {
        display: block;
        padding-top: 40px !important;
        padding-left: 5% !important;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 30px !important;
            font-family: OpenSans-Bold;
            font-weight: 700;
        }

    #section-footer .vemSerDti {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }

    #section-footer .contato {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }

    header .main-container {
       padding-bottom: 100% !important;
    }
    header .main-container .text-content {
        margin-top: 50% !important;
    }
}

/* Mobile Devices */
@media only screen and (max-width : 640px) {
    .main-page header {
        height: 590px;
    }

    .main-page #section-footer {
        height: 590px;
    }

    #section-cards .card-square {
        width: 50%;
        padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
    }

    .section-areas .container-areas .area.flexible-area {
        width: 30%;
    }
    
    #case-cards .card-case .card-title {
        font-size: 26px; 
    }
    
    #case-cards .card-case .card-description {
        font-size: 13px; 
    }
    
    #typewriterContainer .typewriter-font a {
        font-size: 28px;
    }
    
    #section-cards .card-square > .card-content-overlay > .description[id = "vemSerDti"] {
        font-size: 36px;
    }

    .social-media-home {
        display: none;
    }

    .social-media-mobile{
        display: block !important;
    }

    #section-footer .topo {
        display: block;
        padding-top: 40px !important;
        padding-left: 5% !important;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 30px !important;
            font-family: OpenSans-Bold;
            font-weight: 700;
        }
    
    #section-footer .vemSerDti {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }

    #section-footer .contato {
        margin-top: 50px;
        padding-left: 5%;
        float: left;
        width:100%;
    }

    header .main-container {
       padding-bottom: 100% !important;
    }
    header .main-container .text-content {
        margin-top: 50% !important;
    }
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    .main-page header {
        height: 570px;
    }

    .main-page #section-footer {
        height: 660px;
    }

    #section-cards #yt-container-1.flexible-size {
        width: 320px;
        height: 180px;
        margin-left: -98.5px;
        margin-top: 0px;
    }
    
    #case-cards .card-case .card-title {
        font-size: 20px; 
    }
    
    #case-cards .card-case .card-description {
        font-size: 10px; 
    }
    
    #typewriterContainer .typewriter-font a {
        font-size: 22px;
    }
    
    #section-cards .card-square > .card-content-overlay > .description[id = "vemSerDti"] {
        font-size: 28px;
    }

    .social-media-home {
        display: none;
    }

    .social-media-mobile{
        display: block !important;
    }

    #section-footer .topo {
        display: block;
        padding-top: 40px !important;
        padding-left: 5% !important;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 30px !important;
            font-family: OpenSans-Bold;
            font-weight: 700;
        }
    
    #section-footer .vemSerDti {
        margin-top: 50px !important;
        padding-left: 5% !important;
        float: left !important;
        width:100% !important;
    }

    #section-footer .contato {
        margin-top: 50px !important;
        padding-left: 5% !important;
        float: left !important;
        width:100% !important;
    }

    header .main-container {
       padding-bottom: 100% !important;
    }
    header .main-container .text-content {
        margin-top: 50% !important;
    }
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    .main-page header {
        height: 480px;
    }

        .main-page header .description.flexible-fontsize h1 {
            font-size: 36px;
        }

        .main-page header .description.flexible-fontsize p.main-description {
            font-size: 9px;
        }

    .main-page #section-footer {
        height: 480px;
    }
    
    #section-cards .card-square {
        width: 50%;
        padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
    }

    .main-container .text-content p.flexible-font {
        font-size: 48px;
        line-height: 56px;
    }
    
    #case-cards .card-case .card-title {
        font-size: 18px; 
    }
    
    #case-cards .card-case .card-description {
        font-size: 9px; 
    }
    
    #typewriterContainer .typewriter-font a {
        font-size: 18px;
    }
    
    #section-cards .card-square > .card-content-overlay > .description[id = "vemSerDti"] {
        font-size: 26px;
    }

    .social-media-home {
        display: none;
    }

    .social-media-mobile{
        display: block !important;
    }

    #section-footer .topo {
        display: block;
        padding-top: 40px !important;
        padding-left: 5% !important;
        text-align: start;
    }

        #section-footer .topo .main-title {
            font-size: 26px !important;
            line-height: 40px;
            font-family: OpenSans-Bold;
            font-weight: 700;
        }

    #section-footer .vemSerDti {
        margin-top: 50px !important;
        padding-left: 5% !important;
        float: left !important;
        width:100%;
    }

    #section-footer .contato {
        margin-top: 50px !important;
        padding-left: 5% !important;
        float: left !important;
        width:100%;
    }

    header .main-container {
       padding-bottom: 100% !important;
    }

    header .main-container .text-content {
        margin-top: 50% !important;
    }
}
