/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    #section-main {
        max-height: 660px;
    }

    #section-cards .card-square {
        width: 33.3%;
        padding-bottom: 33.3%; /* = width for a 1:1 aspect ratio */
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    #section-main {
        height: 600px;
    }

    #section-footer .container-social .social {
        width: 24%;
        float: left;
        text-align: center;
    }

    #section-cards .card-square {
        width: 33.3%;
        padding-bottom: 33.3%; /* = width for a 1:1 aspect ratio */
    }
}

/* Mobile Devices */
@media only screen and (max-width : 640px) {
    #section-main {
        height: 590px;
    }

    #section-cards .card-square {
        width: 50%;
        padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
    }
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    #section-main {
        height: 570px;
    }
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    #section-main {
        height: 480px;
    }

    #section-cards .card-square {
        width: 50%;
        padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
    }
}
