/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    #section-main {
        max-height: 660px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    #section-main {
        height: 600px;
    }

    #section-footer .container-social .social {
        width: 24%;
        float: left;
        text-align: center;
    }
}

/* Mobile Devices */
@media only screen and (max-width : 640px) {
    #section-main {
        height: 590px;
    }
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    #section-main {
        height: 570px;
    }
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    #section-main {
        height: 480px;
    }
}
