/*------------------------------------------------------------*/
/*------------------------HEADER CARDS------------------------*/
header .description .upper-menu {
    display: table;
    width: 100%;
}

    header .description .upper-menu > * {
        display: table-cell;
    }

    header .description .upper-menu a {
        color: #FFFFFF;
        cursor: pointer;
    }

    header .description .upper-menu .menu-vertical-spacer {
        width: 50%;
    }

header .card-quadruplo-imagem {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
    overflow: hidden;
}

    header .card-quadruplo-imagem:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    header .card-quadruplo-imagem.cases {
        position: relative;
        background-color: rgba(0,0,0,0.6);
    }

        header .card-quadruplo-imagem.cases .description {
            color: #FFFFFF;
            font-size: 64px;
            font-weight: bold;
            font-family: Poppins;
        }

        header .card-quadruplo-imagem.cases:after {
            background-image: url(../img/cases.png);
        }

header:after {
    content: '';
    clear: both;
    display: table;
}
/*------------------------HEADER CARDS------------------------*/
/*------------------------------------------------------------*/


/*-------------------------------------------------------------*/
/*----------------------------AREAS----------------------------*/
.section-open-positions {
    padding: 25px;
}

    .section-open-positions .title {
        color: #5c5c5c;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
    }

    .section-open-positions .types {
        margin-top: 25px;
    }

        .section-open-positions .types > p {
            color: #2db5c2;
            display: inline-block;
            font-family: "Open Sans";
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            margin-right: 16px;
        }

        .section-open-positions .types > p:active {
            box-shadow: 0 0 0 rgba(0,0,0,0.15);
            transition: box-shadow 0.3s ease-in-out;
        }

    .section-open-positions .positions-by-type {
        margin-top: 25px;
    }

        .section-open-positions .positions-by-type .position {
        }

            .section-open-positions .positions-by-type .position > span {
                display: inline-block;
            }

            .section-open-positions .positions-by-type .position p {
                color: #4a4a4a;
                font-family: "Open Sans";
                font-size: 12px;
                font-weight: 400;
            }

            .section-open-positions .positions-by-type .position button {
                border-radius: 100px;
                background-color: #2db5c2;
                color: #ffffff;
                font-family: "Open Sans";
                font-size: 12px;
                font-weight: 600;
            }
/*----------------------------AREAS----------------------------*/
/*-------------------------------------------------------------*/
