/*------------------------------------------------------------*/
/*------------------------HEADER CARDS------------------------*/
.header-cards > div {
    padding-left: 0;
    padding-right: 0;
}

.header-cards .card-square {
    float: left;
    position: relative;
    width: 16.66%;
    padding-bottom: 16.66%; /* = width for a 1:1 aspect ratio */
    overflow: hidden;
    border: 1px solid black;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.header-cards .card-simples-imagem .card-content {
    position: absolute;
    height: 100%; /* = 100% - 2*padding */
    width: 80%; /* = 100% - 2*padding */
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
}

.header-cards .card-table {
    display: table;
    width: 100%;
    height: 100%;
}

.header-cards .card-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-cards:after {
    content: "";
    clear: both;
    display: table;
}

/*------------------------HEADER CARDS------------------------*/
/*------------------------------------------------------------*/


/*-------------------------------------------------------------*/
/*--------------------TRANSFORMAÇÃO DIGITAL--------------------*/
.section-digital-transformation {
    padding-top: 35px;
    padding-left: 10%;
    padding-right: 10%;
}

    .section-digital-transformation .transformacao-digital-title {
        color: #524da0;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
    }

    .section-digital-transformation .transformacao-digital-description {
        color: #39393a;
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 15px;
        text-align: center;
    }
/*--------------------TRANSFORMAÇÃO DIGITAL--------------------*/
/*-------------------------------------------------------------*/


/*-------------------------MENSAGEM CEO-------------------------*/
/*--------------------------------------------------------------*/
.section-ceo-message {
    background: rgb(44,176,197); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgb(44,176,197), rgb(109,127,163)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(44,176,197), rgb(109,127,163)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(44,176,197), rgb(109,127,163)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(44,176,197), rgb(109,127,163)); /* Standard syntax */
    height: 300px;
}

/*-------------------------MENSAGEM CEO-------------------------*/
/*--------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*----------------------------AREAS----------------------------*/
.section-areas {
    padding-top: 25px;
    margin-bottom: 35px;
    border-bottom: 1px solid #AEAEAE;
}

    .section-areas .title {
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 35px;
        text-align: center;
    }

    .section-areas .container-areas {
        text-align: center;
        padding-left: 5%;
    }

        .section-areas .container-areas:after {
            content: "";
            clear: both;
            display: table;
        }

        .section-areas .container-areas .area-spacer {
            width: 5%;
            float: left;
        }

        .section-areas .container-areas .area {
            width: 15%;
            float: left;
            font-family: "Poppins";
        }

            .section-areas .container-areas .area span {
                color: #524da0;
            }

            .section-areas .container-areas .area .area-description {
                font-size: 11px;
                margin-bottom: 4px;
            }

            .section-areas .container-areas .area .spots {
                font-size: 9px;
            }

/*----------------------------AREAS----------------------------*/
/*-------------------------------------------------------------*/


/*-------------------------VAGAS ABERTAS-------------------------*/
/*---------------------------------------------------------------*/
.section-open-positions .title {
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.section-open-positions .container-positions {
    text-align: center;
}

    .section-open-positions .container-positions:after {
        content: "";
        clear: both;
        display: table;
    }

    .section-open-positions .container-positions .position {
        border: 1px solid #AEAEAE;
        display: inline-block;
        margin: 15px;
        padding: 15px;
    }

        .section-open-positions .container-positions .position:after {
            clear: both;
            content: "";
            display: table;
        }

        .section-open-positions .container-positions .position > div {
            float: left;
            margin: 5px;
        }

/*-------------------------VAGAS ABERTAS-------------------------*/
/*---------------------------------------------------------------*/

#section-footer {
    background-color: rgb(45,181,194);
    content: "";
    clear: both;
    display: table;
    width: 100%;
    color: rgb(255,255,255);
    padding-top: 15px;
}

    #section-footer .contato {
        display: flex;
        flex-direction: column;
        height: 250px;
        text-align: center;
        line-height: 30px;
        font-family: Poppins;
        font-size: 16px;
    }

        #section-footer .contato .city-description {
            font-weight: 700;
        }

        #section-footer .contato .address-description {
            font-size: 12px;
            font-weight: 400;
        }

        #section-footer .contato .phone-description {
            font-weight: 400;
        }

        #section-footer .contato .email-description {
            font-weight: 700;
        }

    #section-footer .container-social {
        padding-bottom: 15px;
        text-align: center;
    }

        #section-footer .container-social:after {
            clear: both;
            content: "";
            display: table;
        }

        #section-footer .container-social .social {
            width: 24%;
            float: left;
        }

            #section-footer .container-social .social a {
                color: rgb(255,255,255);
            }

    #section-footer:after {
        clear: both;
        content: "";
        display: table;
    }
