/*------------------------------------------------------------*/
/*------------------------HEADER CARDS------------------------*/
header .description .upper-menu {
    display: table;
    width: 100%;
}

    header .description .upper-menu > * {
        display: table-cell;
    }

    header .description .upper-menu a {
        color: #FFFFFF;
        cursor: pointer;
    }

    header .description .upper-menu .menu-vertical-spacer {
        width: 50%;
    }
/*------------------------HEADER CARDS------------------------*/
/*------------------------------------------------------------*/


/*-------------------------------------------------------------*/
/*----------------------------AREAS----------------------------*/

/*----------------------------AREAS----------------------------*/
/*-------------------------------------------------------------*/


/*-------------------------VAGAS ABERTAS-------------------------*/
/*---------------------------------------------------------------*/
.section-open-positions .title {
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

.section-open-positions .container-positions {
    text-align: center;
}

    .section-open-positions .container-positions:after {
        content: "";
        clear: both;
        display: table;
    }

    .section-open-positions .container-positions .position {
        border: 1px solid #AEAEAE;
        display: inline-block;
        margin: 15px;
        padding: 15px;
    }

        .section-open-positions .container-positions .position:after {
            clear: both;
            content: "";
            display: table;
        }

        .section-open-positions .container-positions .position > div {
            float: left;
            margin: 5px;
        }

/*-------------------------VAGAS ABERTAS-------------------------*/
/*---------------------------------------------------------------*/

#section-footer {
    background-color: rgb(45,181,194);
    content: "";
    clear: both;
    display: table;
    width: 100%;
    color: rgb(255,255,255);
    padding-top: 15px;
}

    #section-footer .contato {
        display: flex;
        flex-direction: column;
        height: 250px;
        text-align: center;
        line-height: 30px;
        font-family: Open Sans;
        font-size: 16px;
    }

        #section-footer .contato .city-description {
            font-weight: 700;
        }

        #section-footer .contato .address-description {
            font-size: 12px;
            font-weight: 400;
        }

        #section-footer .contato .phone-description {
            font-weight: 400;
        }

        #section-footer .contato .email-description {
            font-weight: 700;
        }

    #section-footer .container-social {
        padding-bottom: 15px;
        text-align: center;
    }

        #section-footer .container-social:after {
            clear: both;
            content: "";
            display: table;
        }

        #section-footer .container-social .social {
            width: 24%;
            float: left;
        }

            #section-footer .container-social .social a {
                color: rgb(255,255,255);
            }

    #section-footer:after {
        clear: both;
        content: "";
        display: table;
    }
